@font-face {
  font-family: "namu-pro";
  src: url("./NAMU-Pro.ttf");
  font-display: swap;
}
@font-face {
  font-family: "namu-1400";
  src: url("./NAMU-1400.ttf");
  font-display: swap;
}
@font-face {
  font-family: "namu-1600";
  src: url("./NAMU-1600.ttf");
  font-display: swap;
}
@font-face {
  font-family: "namu-1750";
  src: url("./NAMU-1750.ttf");
  font-display: swap;
}
@font-face {
  font-family: "namu-1850";
  src: url("./NAMU-1850.ttf");
  font-display: swap;
}
@font-face {
  font-family: "namu-1910";
  src: url("./NAMU-1910.ttf");
  font-display: swap;
}
@font-face {
  font-family: "namu-1930";
  src: url("./NAMU-1930.ttf");
  font-display: swap;
}
@font-face {
  font-family: "namu-1960";
  src: url("./NAMU-1960.ttf");
  font-display: swap;
}
@font-face {
  font-family: "namu-1990";
  src: url("./NAMU-1990.ttf");
  font-display: swap;
}
@font-face {
  font-family: "murmure";
  src: url("./../murmure/murmure-regular.ttf");
  font-display: swap;
}
